@model Fiap.Web.AspNet3.Models.RepresentanteModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RepresentanteModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeRepresentante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeRepresentante)
        </dd>
    </dl>
</div>
<div>
    @*<input type="hidden" asp-for="RepresentanteId" readonly/>*@
    <a class="btn btn-warning btn-sm" asp-action="Editar" asp-controller="Representante" asp-route-id="@Model?.RepresentanteId">Editar</a>
    <a class="btn btn-dark btn-sm" asp-action="Index">Voltar</a>
</div>
